*.apk

*.ap_

*.dex

*.class

bin/

gen/

Thumbs.db

.DS_Store

*.iml

.idea

.idea/workspace.xml

build/

.navigation

captures/

output.json

obj/

.externalNativeBuild

.gradle

/local.properties

/.idea/workspace.xml

/.idea/libraries

.externalNativeBuild